#photolab-gallery-app {
    width: 100%;
}

.gallery-app-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-content: center;
    width: 1300px;
    max-width: 100%;
    min-height: 600px;
    grid-gap: 50px;
    box-sizing: border-box;
    padding: 70px 70px 70px 70px;
    @include box-shadow;

    h2 {
        margin-top: 0px;
    }


    @media ( max-width: 1050px ) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        padding: 35px 35px 35px 35px;
        grid-gap: 35px;
    }


    .gallery-app-image {
        grid-column: 1;
        @include flex-center-column;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        position: relative;

        canvas:nth-child(1) {
            position: relative;
            top: 0;
            left: 0;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }

        canvas:nth-child(2),
        canvas:nth-child(3), {
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 600px;
            height: auto;
            max-width: 100%;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }

        @media ( max-width: 1050px ) {
            padding-left: 100px;
            padding-right: 100px;
        }

        @media ( max-width: 800px ) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @media ( max-width: 600px ) {
            padding-left: 0px;
            padding-right: 0px;
        }

        @media ( max-width: 950px ) {
            grid-column: 1;
            grid-row: 1;
        }

    }

    .gallery-app-upload-image {
        width: 300px;
        height: 500px;
        @include box-shadow;
        @include flex-center-center;

        div {
            width: 100%;
            height: 100px;
            position: relative;

            input {
                position: relative;
                z-index: 2;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0%;
            }

            label {
                @include flex-center-column;
                grid-gap: 10px;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                h5 {
                    margin: 0px;
                }

            }
        }

    }


    .gallery-app-info {
        grid-column: 2;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;

        @media ( max-width: 1050px ) {
            grid-column: 1;
            grid-row: 2;
        }


        .gallery-app-options {
            @include flex-start-column;
            width: 100%;
            grid-gap: 20px;

            .gallery-app-option {
                @include flex-start-column;
                width: 100%;

                select {
                    width: 100%;
                }
            }
        }


        .gallery-app-total {
            @include flex-end-column;
            width: 100%;
            grid-gap: 20px;

            h3 {
                color: $orange-900;
            }

        }

    }

}
