.gallery-app-image-quality {
    @include flex-center-column;
    margin-top: 10px;
    grid-gap: 4px;
    width: 200px;
    text-align: center;

    div {
        @include flex-start-center;
        column-gap: 1px;
        height: 20px;

        span {
            height: 100%;
            width: 8px;
        }

        span:nth-child(-n+5):nth-child(n+0) {
            background-color: red;
        }

        span:nth-child(-n+10):nth-child(n+6) {
            background-color: orange;
        }

        span:nth-child(-n+15):nth-child(n+11) {
            background-color: yellow;
        }

        span:nth-child(-n+20):nth-child(n+16) {
            background-color: green;
        }

        span:nth-child(-n+5):nth-child(n+0) ~ span.inactive,
        span:nth-child(-n+10):nth-child(n+6) ~ span.inactive,
        span:nth-child(-n+15):nth-child(n+11) ~ span.inactive,
        span:nth-child(-n+20):nth-child(n+16) ~ span.inactive {
            background-color: $grey-2;
        }

    }

}
